.navbarDiv {
  background-color: #007bff;
  color: #fff;
  height: 4rem;
  text-align: right;
  position: sticky;
}

.top {
  background-color: #007bff;
  position: absolute;
  right: 100px;
  font-size: larger;
  font-weight: bold;
}
